{% extends "main.html" %}

{% block title %}PassWord-Reset sent📤 | DevConnect{% endblock %}


{% block content %}




<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
          <h2>Password reset sent</h2>

          <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            .</p>
                <br>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>
            
        </div>
    </div>
</main>

{% endblock content %}