{% extends "main.html" %}
{% block title %}Project{% endblock %}
{% block content %}


<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>


          <div class="singleProject__toolStack">
            {% for tag in project.tags.all %}
                  <span class="tag tag--pill tag--sub tag--lg">
                    <small>{{tag}}</small>
                  </span>
            {% endfor %}
          </div>
          


            <!-- ! if the project has a source_link tag it will output it. -->
        {% if project.source_link %}
                <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Source Code
                </a>
        {% endif %}


        {% if project.demo_link %}
              <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Live Demo
              </a>
      {% endif %}

        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{ project.featured_image.url }}" alt="portfolio thumbnail" />
          <a href="profile.html" class="singleProject__developer">{{project.owner.name}}</a>
          <h2 class="singleProject__title">{{project.title}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
            {{project.description}}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
            </h5>
              <!-- *  means send the user back to the project page and the project page should take care of the form -->
              {% if request.user.profile.id in project.reviewers %}

              <h3>You have already submmitted your review for this project.</h3>

              {% elif request.user.profile == project.owner %}

              <h3>You cannot review your own work.</h3>

              {% elif request.user.is_authenticated %}
                  <form class="form" action="{% url 'project' project.id %}" method="POST">
                    {% csrf_token %}
                    {% for fields in form %}
                    <div class="form__field">
                      <label for="formInput#textarea">{{fields.labels}}</label>
                      {{fields}}
                    </div>
                  {% endfor %}
                    <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
                  </form>
            {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">Please log in to leave a review.</a>
            {% endif %}

            <div class="commentList">      
              {% for review in project.review_set.all %}
            <!-- * Only the review that have a comment should be shown. -->
              {% if review.body %}
                    <div class="comment">
                      <a href="{% url 'user-profile' review.owner.id %}">
                        <img class="avatar avatar--md" src="{{review.owner.profile_image.url}}" alt="user" />
                      </a>

                      <div class="comment__details">
                        <!-- * the link will navigate to the person that review profile -->
                        <a href="{% url 'user-profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
                        <p class="comment__info">
                          <!-- * |linebreaksbr -> will help format our text using line breaks. -->
                          {{review.body|linebreaksbr}}
                        </p>
                      </div>
              </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>




{% endblock content %}

